
.explore-tab {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 0rem 0rem auto;
}
.introduction {
    max-width: 400px;
    margin: 4rem 10rem auto;
}

.landing-image {
    justify-content: flex-end;
}
.landing-page {
    display:flex;
    align-items: center;
    justify-content: flex-end;
}
.List-Of-Reviews {
    display: flex;
    justify-content: center;
}
.Main-Header {
    display: flex;
    justify-content: center;
}
.Pizza_Places {
    display: flex;
    justify-content: center;
}

.Welcome {
    display: flex;
    justify-content: center;
}